<div class="cover">
  <div class="cover-img">
    <img
      src="https://scontent.fixm4-1.fna.fbcdn.net/v/t31.18172-8/19575079_10103832396388711_8894816584589808440_o.jpg?_nc_cat=109&ccb=1-5&_nc_sid=e3f864&_nc_ohc=RFgaCc0XzAUAX8n2rVe&_nc_ht=scontent.fixm4-1.fna&oh=00_AT8BUpe_XhRe3LrWqhhN1qoKPCyP12Z0P4MX2X9yA18vVw&oe=6263C4FD"
      alt="cover"
    />
    <div class="edit-cover-img" (click)="toggleEditMenu()">
      <div class="edit-cover-btn">
        <div class="camera">
          <i
            style="
              background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/-wm-fqdtvDt.png');
              background-position: 0px -1106px;
              background-size: 26px 1400px;
              width: 16px;
              height: 16px;
              background-repeat: no-repeat;
              display: inline-block;
            "
          ></i>
        </div>
        <div>
          <p>Edit Cover Photo</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="edit-options"
    [ngStyle]="{ display: editMenu ? 'block' : 'none' }"
    id="edit-options"
  >
    <div class="items">
      <i
        data-visualcompletion="css-img"
        class="hu5pjgll lzf7d6o1"
        style="
          background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/QaXi-R17grQ.png');
          background-position: 0px -286px;
          background-size: 22px 420px;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          display: inline-block;
        "
      ></i>
      <p>Select photo</p>
    </div>
    <div class="items">
      <i
        data-visualcompletion="css-img"
        class="hu5pjgll lzf7d6o1"
        style="
          background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/MLWNpqIu1Lb.png');
          background-position: 0px -26px;
          background-size: 26px 84px;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          display: inline-block;
        "
      ></i>
      <p>Upload photo</p>
    </div>
    <div class="items">
      <i
        data-visualcompletion="css-img"
        class="hu5pjgll lzf7d6o1"
        style="
          background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/-wm-fqdtvDt.png');
          background-position: 0px -278px;
          background-size: 26px 1400px;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          display: inline-block;
        "
      ></i>
      <p>Reposition</p>
    </div>
    <hr />
    <div class="items">
      <i
        data-visualcompletion="css-img"
        class="hu5pjgll lzf7d6o1"
        style="
          background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/R6HQGAgISVA.png');
          background-position: 0px -1124px;
          background-size: 34px 1298px;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          display: inline-block;
        "
      ></i>
      <p>Remove</p>
    </div>
  </div>
</div>
