.side-nav {
  font-family: "Segoe UI Regular";
  font-weight: 600;
  width: 70%;
  height: 90vh;
  padding: 1rem 0.5rem;
  overflow-y: auto;
  padding-right: 0;
  transition: all 2s ease-in-out;

  &::-webkit-scrollbar {
    width: 0.5rem;
    visibility: hidden;
  }

  &:hover::-webkit-scrollbar {
    visibility: visible;
    transition: all 1s ease-in-out;
  }

  /* Track */
  &:hover::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* Handle */
  &:hover::-webkit-scrollbar-thumb {
    background: #ced0d4;
    border-radius: 5px;
  }

  /* Handle on hover */
  &:hover::-webkit-scrollbar-track:hover {
    background: #f2f3f5;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0.5rem;
    align-items: center;
    font-weight: normal;

    p {
      font-size: 12px;
      color: #75777b;
      cursor: context-menu;
      margin-bottom: 0;

      &:not(:last-of-type):hover {
        text-decoration: underline;
        cursor: pointer;
      }

      &:not(:last-of-type)::after {
        content: ".";
        margin: 0rem 0.1rem;
      }
    }
  }
}
