<div class="section">
  <div *ngIf="friendrequest.length>=1">
    <div class="title">
        <div class="name">Friend requests</div>
        <a href="#" class="link">See all</a>
    </div>

    <div class="Cards" *ngFor="let request of friendrequest">
      <app-friend-card-item  [friendrequest]="request" [button1]="'Confirm'" [button2]="'Delete'" (ItemEvent)="removeItem($event)"></app-friend-card-item>
    </div>
  </div>
  <div class="title">
    <div class="name">People you may know</div>
    <a href="#" class="link">See all</a>
  </div>
  <div class="Cards">
    <app-friend-card-item *ngFor="let request of suggested" [friendrequest]="request" [button1]="'Add Friend'" [button2]="'Remove'" (ItemEvent)="removeSuggest($event)"></app-friend-card-item>
  </div>
</div>
