<div class="create-room">
    <div class="create-room-btn">
        <i data-visualcompletion="css-img" class="hu5pjgll" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/8m8W6qk28Db.png&quot;); background-position: 0px -220px; background-size: 502px 246px; width: 24px; height: 24px; background-repeat: no-repeat; display: inline-block;"></i>
        <b>Create Room</b>
    </div>

    <app-profile-icon *ngFor="let friend of activeFriends" [profileImg]="friend.profileImg" [big]="true"></app-profile-icon>
</div>