.example-container {
    width: 100%;
    height: 100%;
  }
  .sidenav{
      width: 350px;
      margin-left: 10px;
  }
  .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav{
    margin-top: 15px;
  }
  h3{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 24px;
     
      margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .background
  {
  background-color: hsla(0, 2%, 57%, 0.706); 
  width:33px;
  height: 33px;
  border-radius: 50%;
  margin-top: 20px;
 margin-right: 20px;
}
.bg{
  background-color: hsla(0, 2%, 57%, 0.706); 
  width:40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
$primary-color: #0b84ed;
* {
  box-sizing: border-box;
}
@mixin flex($direction, $wrap, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

#fb {
  background: #0b84ed;
  box-sizing: border-box;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  @include flex(" ", " ", center, center);
  font-size: 30px;
  z-index: -1;
}
.profile{
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
}
.profile img{
  height: 60px;
    width: 60px;
    margin-right: 1rem;
    border-radius: 50%;
}
p {
  font-size: 16px;
  flex-grow: 1;
  margin-bottom: 0;
  font-weight: 500;
  
}
.container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
 align-content: center;
 margin-bottom: 125px;
}
.card1{
  margin-top: 110px;
  margin-left: 20%;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/VZEyXb4G4aX.png);
    background-position: 0px 0px;
    background-size: 222px 690px;
    width: 220px;
    height: 330px;
    background-repeat: no-repeat;
   // display: inline-block;
}
.card2{
  margin-top: 110px;
  margin-left: 20px;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/VZEyXb4G4aX.png);
  background-position: 0px -332px;
    background-size: 222px 690px;
    width: 220px;
    height: 330px;
    background-repeat: no-repeat;
  //  display: inline-block;

}
.icon-bg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  margin-top: 55%;
  margin-left: 38%;
}
.photostory{
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/ytg_qLfBync.png");
    background-position: 0px -154px;
    background-size: 22px 242px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
}
.textstory{
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/HtH3ivm4rQw.png);
    background-position: 0px -52px;
    background-size: 26px 74px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
}
.text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  font-size: 10pt;
  box-sizing: border-box;
  font-weight: bold;
}