<div class="menu-section">
  <div class="menu-list">
    <div class="profile" [style]="{ display: !isSticky ? 'none' : '' }">
      <img
        src="https://scontent.fixm4-1.fna.fbcdn.net/v/t1.6435-9/79515135_10111007623880301_5111576226921709568_n.jpg?_nc_cat=1&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=4D9hZwxZFZIAX_20O80&_nc_ht=scontent.fixm4-1.fna&oh=00_AT-3pqM0XXzbq9mJim_5vt15Zf26K6fX1oBWW8mZjMLO3Q&oe=62648D56"
        alt="Mark"
      />
      <p>Mark Zuckerberg</p>
    </div>
    <div class="item active" [style]="{ display: isSticky ? 'none' : '' }">
      <p>Posts</p>
    </div>
    <div class="item" [style]="{ display: isSticky ? 'none' : '' }">
      <p>About</p>
    </div>
    <div class="item" [style]="{ display: isSticky ? 'none' : '' }">
      <p>Friends</p>
    </div>
    <div class="item" [style]="{ display: isSticky ? 'none' : '' }">
      <p>Photos</p>
    </div>
    <div class="item" [style]="{ display: isSticky ? 'none' : '' }">
      <p>Videos</p>
    </div>
    <div class="item" [style]="{ display: isSticky ? 'none' : '' }">
      <p>Check-ins</p>
    </div>
    <div class="item" [style]="{ display: isSticky ? 'none' : '' }">
      <p>More</p>
      <svg fill="currentColor" viewBox="0 0 20 20" width="1.2em" height="1.2em">
        <path
          d="M10 14a1 1 0 0 1-.755-.349L5.329 9.182a1.367 1.367 0 0 1-.205-1.46A1.184 1.184 0 0 1 6.2 7h7.6a1.18 1.18 0 0 1 1.074.721 1.357 1.357 0 0 1-.2 1.457l-3.918 4.473A1 1 0 0 1 10 14z"
        ></path>
      </svg>
    </div>
  </div>
  <div class="menu-option">
    <div class="menu-option-btn">
      <svg fill="currentColor" viewBox="0 0 24 24" width="1em" height="1em">
        <circle cx="12" cy="12" r="2.5"></circle>
        <circle cx="19.5" cy="12" r="2.5"></circle>
        <circle cx="4.5" cy="12" r="2.5"></circle>
      </svg>
    </div>
  </div>
</div>
