.menu-section {
  margin: 0rem -17.5%;
  padding: 0.3rem 21%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0rem;
  position: sticky;
  top: 3.5rem;
  background-color: #fff;
  z-index: 10;

  .menu-list {
    display: flex;
    background-color: #fff;

    .profile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0rem 0.5rem;
      padding: 0.5rem 0.5rem;
      border-radius: 0.5rem;
      background-color: #fff;
      color: #000;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      margin-bottom: 0.2rem;
      font-size: 0.9rem;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: #f5f5f5;
      }

      p {
        margin-bottom: 0rem;
      }
    }

    .item {
      padding: 1rem 1rem;
      cursor: pointer;
      border-radius: 5px;
      color: #67696d;
      font-weight: 600;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      background-color: #fff;
      user-select: none;

      svg {
        margin-left: 0.2rem;
      }

      &:hover {
        background-color: #e4e6eb;
      }

      &.active {
        color: #1879f3;
        border-bottom: 4px solid #1879f3;
        border-radius: 0;
        background-color: #fff;
      }

      p {
        margin-bottom: 0px;
      }
    }
  }

  .menu-option {
    padding: 0.5rem 1rem;

    .menu-option-btn {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      background-color: #e4e6eb;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: #ccd0d5;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
