$primary-color: #0b84ed;
* {
  box-sizing: border-box;
}
@mixin flex($direction, $wrap, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}
@mixin position($pos, $top, $left) {
  position: $pos;
  top: $top;
  left: $left;
}
body,
div,
header {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 100;
}
div ul {
  margin: 0;
  padding: 0 15px;
  height: 3.5rem;
  list-style: none;
  @include flex("", "", "", flex-end);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  li {
    padding: 0 3px;
    a {
      display: inline-block;
      text-decoration: none;
      height: 40px;
      font-size: 1.5rem;
      @include flex("", "", center, center);
      color: rgb(158, 158, 158);
    }
    #fb {
      background: #fff;
      color: $primary-color;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @include flex("", "", center, center);
      font-size: 300%;
      z-index: -1;
    }
  }
}
//left elements style
form {
  pointer-events: none;
  @include position(absolute, 0px, 0px);
  width: 25%;
  height: 100px;
  @include flex(column, wrap, "", "");
  border-radius: 5px;
  i.arrow {
    @include position(absolute, 10px, 15px);
    display: none;
    color: #828890;
    width: 10%;
    margin-top: 10px;
  }
}
.search {
  margin-top: 8px;
  @include flex("", "", center, center);
  pointer-events: auto;
  height: 38px;
  border-radius: 30px;
  // padding: 5px;
  width: 75%;
  margin-left: 20%;
  background-color: #f0f2f5;
}
.search-btn {
  color: #828890;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  border-radius: 30px;
  height: 38px;
  font-size: 15px;
  transition: ease-in;
  line-height: 40px;
  width: 80%;
}

//select
.select {
  .search {
    width: 80%;
    transform: translate(-10%, 0%);
  }
  .search-txt {
    width: 100%;
    padding: 0px 10px;
  }
  .search-content {
    background-color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    i.arrow {
      display: block;
    }
  }
  .text {
    display: block;
  }
  #id {
    display: none;
  }
  .search > .search-btn {
    display: none;
  }
}

form .text {
  @include position(absolute, 50%, 0px);
  padding: 10px;
  margin-left: 20%;
  display: none;
}

div ul li#space1 {
  flex: 2;
}
div ul li#space2 {
  flex: 4;
}
//center elements
// div ul li a mat-icon{
//   margin-top:20px;
//   height:140%;
//   margin-bottom: -35px;
// }
.center {
  width: 100%;
  margin: 0px 40px;
}
#more {
  display: none;
}
div ul li {
  #btn_plus,
  #btn_add,
  #btn_msg,
  #btn_bell,
  #btn_profile {
    height: 40px;
    width: 40px;
    @include flex("", "", center, center);
    font-size: 1rem;
    color: #444;
    background: rgba(0, 0, 0, 0.068);
    border: 3px solid white;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
  }
}
div ul {
  min-height: fit-content;
  li:hover #btn_plus,
  li:hover #btn_add,
  li:hover #btn_msg,
  li:hover #btn_bell,
  li:hover #btn_profile {
    background-color: rgba(0, 0, 0, 0.13);
  }
  li:active #btn_plus,
  li:active #btn_add,
  li:active #btn_msg,
  li:active #btn_bell,
  li:active #btn_profile {
    transform: scale(0.98);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  }
}
div ul li #btn_add {
  display: none;
}
.profile {
  display: flex;
  @include flex("", "", center, center);
  height: 30px;
  width: 105%;
  border-radius: 20px;
  margin-top: 6px;
  margin-left: -20%;
  transition: 0.2s all;
  img {
    border-radius: 50%;
    margin: 5px;
    width: 28px;
    height: 28px;
    margin-left: -1px;
  }
}
.name {
  @include flex("", "", "", center);
  color: black;
  font-weight: 500;
}
.profile:hover {
  background-color: #f0f2f5;
  cursor: pointer;
}
.profile:active {
  background-color: #e7f3ff;
  padding: 5px 0px;
  transform: scale(0.98);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  img {
    transform: scale(0.97);
  }
  .name {
    transform: scale(0.97);
    color: #1877f2;
  }
}
.profileActive {
  background-color: #e7f3ff;
  padding: 5px 0px;
  .name {
    color: #1877f2;
  }
}
div ul {
  li {
    #home,
    #marketplace,
    #tv,
    #gaming,
    #friend {
      height: 3.7rem;
    }

    #fb,
    #btn_plus,
    #btn_add,
    #btn_msg,
    #btn_bell,
    #btn_profile {
      margin-bottom: 0.5rem;
    }

    .profile {
      margin-bottom: 0.8rem;
    }
  }

  li:hover #home,
  li:hover #marketplace,
  li:hover #tv,
  li:hover #gaming,
  li:hover #friend,
  li:hover #more {
    background: rgba(48, 46, 46, 0.1);
    color: #444;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}
.center mat-icon {
  font-size: 130%;
  // height: 6rem;
}
.active {
  color: #0b84ed !important;
  border-bottom: 3px solid #0b84ed;
  transition: 0.1s;
}
.noactive {
  border-bottom: 3px solid white;
  transition: 0.1s;
}

.rightNavFocus {
  color: #0b84ed !important;
  background: #e7f3ff !important;
  translate: scale(0.97);
}

.tip {
  position: relative;
}
.tip::after {
  content: attr(data-tooltip);
  height: 33px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: -70%;
  padding: 1px 12px;
  line-height: 30px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  user-select: none;
}
.tip:hover::after {
  opacity: 1;
}
div ul li #btn_profile::after {
  margin-left: -20px;
}
@media screen and (max-width: 1110px) {
  div ul li {
    #home,
    #marketplace,
    #gaming,
    #friend,
    #tv {
      padding: 0px 0px;
      margin: 0px 20px;
    }
  }
}
@media screen and (max-width: 700px) {
  .select {
    form {
      width: 50%;
    }
    .search {
      width: 80%;
      transform: translate(-10%, 0%);
    }
    .search-txt {
      width: 100%;
      padding: 0px 10px;
      display: block;
    }
    .search-content {
      background-color: white;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      i.arrow {
        display: block;
      }
    }
    .text {
      display: block;
    }
    #id {
      display: none;
    }
    .search > .search-btn {
      display: none;
    }
  }

  .search-txt {
    display: none;
  }
  .search {
    background: none;
  }
  .profile {
    display: none;
  }

  .search-btn {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    display: block;
  }

  div ul li {
    #home,
    #marketplace,
    #gaming,
    #friend,
    #tv,
    #btn_plus {
      display: none;
    }
    #btn_add {
      display: block;
      @include flex("", "", center, center);
    }
    #more {
      display: block;
      position: relative;
      margin-left: -100px;
      margin-top: 2px;
      font-size: 30px;
      color: rgb(97, 97, 97);
    }
  }
}
@media screen and (max-width: 850px) {
  .select {
    form {
      width: 50%;
    }
    .search {
      width: 80%;
      transform: translate(-10%, 0%);
    }
    .search-txt {
      width: 100%;
      padding: 0px 10px;
      display: block;
    }
    .search-content {
      background-color: white;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      i.arrow {
        display: block;
      }
    }
    .text {
      display: block;
    }
    #id {
      display: none;
    }
    .search > .search-btn {
      display: none;
    }
  }

  .search-txt {
    display: none;
  }
  .search {
    background: none;
  }
  .profile {
    display: none;
  }

  .search-btn {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    display: block;
  }
  nav ul li#space1,
  nav ul li#space2 {
    display: none;
  }
  nav ul {
    min-width: 600px;
    padding: 8px 12px;
    justify-content: space-between;
  }
  :root {
    --btn-width-100: 60px;
  }
}

/*side bar container*/

.sideContainer {
  z-index: 110;

  width: 350px;
  @include flex(column, "", space-between, "");
  border: 1px solid gainsboro;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 15px;
  margin-top: 3.3rem;
  background-color: white;
  border-radius: 10px;
  padding: 12px 16px 0px 16px;
  .sidecon-first-text {
    width: 240px;
    padding: 10px;
    @include flex(column, "", center, flex-start);
  }
  .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 1px 7px;
    padding-top: 7.5px;
    font-size: 26px;
    background-color: #e0e0e0;
  }
  // mat-icon {
  //   font-size: 90%;
  //   margin-top: 5px;
  // }
  .profile-link {
    color: #828890;
  }
  .top-section {
    padding-bottom: 8px;
    @include flex(row, "", flex-start, center);
    img {
      width: 60px;
      height: 60px;
      margin-top: 2px;
      border-radius: 50%;
    }
    .sidecon-first-text {
      .name {
        font-weight: 600;
        font-size: 18px;
      }
    }
    .profile-link {
      text-decoration: none;
    }
    border-bottom: 1px solid gainsboro;
  }
  .second-session {
    @include flex(row, "", flex-start, center);
    .profile-link {
      font-size: 13px;
    }
    padding-bottom: 3px;
    border-bottom: 1px solid gainsboro;
  }
  .third-session {
    padding: 0px;
    height: 50px;
    @include flex(row, wrap, flex-start, center);
    .icon {
      padding: 0px 6px;
      padding-top: 6px;
    }
  }
  .arrow {
    margin-left: 10px;
    font-size: 40px;
    color: #828890;
  }
  .bottom-session {
    font-size: 13px;
  }
}
.sideContainer {
  .top-section:hover,
  .second-session:hover,
  #third-session-1:hover,
  #third-session-2:hover,
  #third-session-3:hover,
  #third-session-4:hover {
    cursor: pointer;
    background-color: #f0eeee;
    border-radius: 6px;
  }
}
