<p>pop-detail works!</p>
<!--<img class="hu5pjgll" height="20" src="https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/1jhUSRNtU5P.png" width="20" alt="">
    <img class="hu5pjgll" height="20" src="https://static.xx.fbcdn.net/rsrc.php/v3/yY/r/BV4nLpdbGwx.png" width="20" alt="">-->
<div class="pop-up">
  <div class="content">
    <div class="image">
      <img src="" alt="profile-pic">
    </div>
    <div class="details">
      <div class="name"></div>
      <div class="additions">
        <div class="icon">
          <img class="hu5pjgll" height="20" src="https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/1jhUSRNtU5P.png" width="20" alt="">
        </div>
        <div class="describe">
          <div class="text"></div>
        </div>
      </div>
      <div class="additions">
        <div class="icon">
          <img class="hu5pjgll" height="20" src="https://static.xx.fbcdn.net/rsrc.php/v3/y1/r/O171qLGxiOi.png" width="20" alt="">
        </div>
        <div class="describe">
          <div class="text"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">

  </div>
</div>
