<div class="pop-up">
  <div class="content">
    <div class="image">
      <img src="{{details.image_url}}" alt="profile-pic">
    </div>
    <div class="details">
      <div class="name">{{details.name}}</div>
      <div class="additions">
        <div class="icon">
          <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/1jhUSRNtU5P.png" alt="work">
        </div>
        <div class="describe">
          <div class="text">{{details.work}}</div>
        </div>
      </div>
      <div class="additions">
        <div class="icon">
          <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y1/r/O171qLGxiOi.png" alt="graduate">
        </div>
        <div class="describe">
          <div class="text">{{details.education}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
   <div class="btn add">
     <div class="icon">
      <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/33EToHSZ94f.png" alt="add">
     </div>
     <div class="text">Add Friend</div>
   </div>
   <div class="btn">
    <div class="icon">
      <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/YIxFfN5ecJG.png" alt="messange">
    </div>
    <div class="text">Message</div>
  </div>
  <div class="btn more">
    <div class="text">...</div>
  </div>
  </div>
</div>
