.featured-games{
  padding: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.outer {
  height: 150px;
  position: relative;
  width: 150px;
  background: #000;
}

.inner {
  position: absolute;
  height: 45%;
  bottom: 0;
  left: 0;
  background-color: rgba(228, 212, 212, 0.6);
  color: #fff;
  width: 100%;
  padding: 2%;
}

img {
    width: 100%; 
    height: 100%; 
    object-fit: fill;
}

.carousel-cell{
  margin-right: 5px;
}