.comments {
  display: flex;

  p {
    cursor: pointer;
    color: #65676b;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.comments {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;

  .comment {
    display: flex;
    padding: 0.2rem 0rem;

    .comment-img {
      margin-right: 0.6rem;
      margin-top: 0.2rem;

      img {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .comment-detail {
      display: flex;
      flex-direction: column;

      .comment-box {
        border-radius: 15px;
        padding: 0.2rem 0.5rem;
        background-color: #f2f3f5;

        .name {
          font-weight: 600;
          font-size: 0.75rem;
        }

        .comment {
          font-size: 0.9rem;
          padding-top: 0rem;
        }

        p {
          margin-bottom: 0rem;
        }
      }

      .reaction {
        display: flex;
        justify-content: space-around;
        margin-top: 0.1rem;

        .option {
          font-size: 0.75rem;
          font-weight: 700;

          p {
            color: #65676b;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .icon {
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      margin-left: 1rem;
      margin-top: 0.5rem;

      &:hover {
        background-color: #f2f3f5;
      }
    }
  }
}

.write-comment {
  display: flex;

  .profile-img {
    cursor: pointer;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }

  .input-div {
    display: flex;
    flex-grow: 1;
    border-radius: 20px;
    background-color: #f2f3f5;

    .input {
      padding: 0rem 0.5rem;
      flex-grow: 1;

      input {
        outline: none;
        border: none;
        background-color: #f2f3f5;
        padding: 0.4rem 0.5rem;
        font-size: 1rem;
      }
    }

    .icons {
      display: flex;
      align-items: center;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;

        i {
          filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
            hue-rotate(174deg) brightness(94%) contrast(86%);
        }

        &:hover {
          background-color: #dadde1;
        }
      }
    }
  }
}

.footer {
  font-size: 0.7rem;
  margin-left: 2.5rem;
  margin-top: 0.1rem;
}
