<div class="body">
    <!-- Login -->
    <div class="container  d-flex flex-column flex-lg-row justify-content-evenly">
      <!-- heading -->
      <div class="text-center text-lg-start mt-5 pt-5 ml-5">
        <h1 class="text-primary fw-bold fs-0">facebook</h1>
        <p class="w-75 fs-4">Facebook helps you connect and share with the people in your life.</p>
      </div>
      <!-- form card -->
      <div style="max-width: 25rem; width: 100%;margin-right: 50px;">
        <!-- login form -->
        <!-- first was form tag -->
        <div class="bg-white shadow rounded p-3 input-group-lg ">
          <input type="email" class="form-control  px-3  h-10" placeholder="Email address or phone number" />
          <input type="password" class="form-control my-3 px-3 py-3 h-10" placeholder="Password" />
          <a href="#" routerLink="/home"><button class="btn btn-primary w-100 btn-lg my-2">Log In</button></a>
          <a href="#" class="text-decoration-none text-center"><p>Forgotten password?</p></a>
          <!-- create form -->
          <hr />

          <div class="text-center px-5 mt-4 mb-2">
            <!--href="#createModal" <button class="btn btn-success btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#createModal">Create New Account</button> -->
            <a  (click)="openModel()" data-toggle="modal"><button class="btn btn-success btn-lg" type="button" >Create New Account</button></a>
        </div>
          <!-- create modal -->
          <!--  -->
          <!-- modal end -->
        </div>
        <!-- tag -->
        <div class="my-4 pb-5 text-center">
          <p class="fw-bold"><a href="#" class="text-decoration-none text-dark">Create a Page </a> <span class="fw-normal">for a celebrity, band or business.</span></p>
        </div>
      </div>
    </div>
    <footer class="bg-white text-muted">
      <div class="container-footer">
        <!-- language -->
        <div class="d-flex flex-wrap">
          <p class="footer-text">English (UK)</p>
          <p class="footer-text">தமிழ்</p>
          <p class="footer-text">తెలుగు</p>
          <p class="footer-text">ಕನ್ನಡ</p>
          <p class="footer-text">हिन्दी</p>
          <p  class="footer-text">മലയാളം</p>
          <p class="footer-text">Tiếng Việt</p>
          <p class="footer-text">中文(台灣)</p>
          <p class="footer-text">한국어</p>
          <p class="footer-text">日本語</p>
          <span style="margin-left:5px;"><i class="fa fa-plus"></i></span>
        </div>
        <hr />
        <!-- actions -->
        <div class="d-flex flex-wrap">
          <p class="footer-text2">Sign Up</p>
          <p class="footer-text2">Login</p>
          <p class="footer-text2">Messenger</p>
          <p class="footer-text2">Facebook Lite</p>
          <p class="footer-text2">Watch</p>
          <p class="footer-text2">Places</p>
          <p class="footer-text2">Games</p>
          <p class="footer-text2">Marketplace</p>
          <p class="footer-text2">Facebook Pay</p>
          <p class="footer-text2">Oculus</p>
          <p class="footer-text2">Portal</p>
          <p class="footer-text2">Instagram</p>
          <p class="footer-text2">Bulletin</p>
          <p class="footer-text2">Local</p>
          <p class="footer-text2">Fundraisers</p>
          <p class="footer-text2">Services</p>
          <p class="footer-text2">Voting Information Centre</p>
          <p class="footer-text2">Groups</p>
          <p class="footer-text2">About</p>
          <p class="footer-text2">Create ad</p>
          <p class="footer-text2">Create Page</p>
          <p class="footer-text2">Developers</p>
          <p class="footer-text2">Careers</p>
          <p class="footer-text2">Privacy</p>
          <p class="footer-text2">Cookies</p>
          <p class="footer-text2">AdChoices</p>
          <p class="footer-text2">Terms</p>
          <p class="footer-text2">Help</p>
        </div>
        <!-- copy -->
        <div class="mt-4">
          <p class="footer-text">Meta &copy; 2022</p>
        </div>
      </div>
    </footer>

  </div>
