<body>
    <!-- Login -->
    <div class="container  d-flex flex-column flex-lg-row justify-content-evenly">
      <!-- heading -->
      <div class="text-center text-lg-start mt-5 pt-5 ml-5">
        <h1 class="text-primary fw-bold fs-0">facebook</h1>
        <p class="w-75 fs-4">Facebook helps you connect and share with the people in your life.</p>
      </div>
      <!-- form card -->
      <div style="max-width: 25rem; width: 100%;">
        <!-- login form -->
        <!-- first was form tag -->
        <div class="bg-white shadow rounded p-3 input-group-lg ">
          <input type="email" class="form-control my-3 px-3 py-3 h-10" placeholder="Email address or phone number" />
          <input type="password" class="form-control my-3 px-3 py-3 h-10" placeholder="Password" />
          <a href="#" routerLink="/home"><button class="btn btn-primary w-100 my-3 btn-lg">Log In</button></a>
          <a href="#" class="text-decoration-none text-center"><p>Forgotten password?</p></a>
          <!-- create form -->
          <hr />
         
          <div class="text-center my-3 px-5">
            <!-- <button class="btn btn-success btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#createModal">Create New Account</button> -->
            <a href="#createModal" data-toggle="modal"><button class="btn btn-success btn-lg" type="button" >Create New Account</button></a>
        </div>
          <!-- create modal -->
          <div class="modal fade" id="createModal">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <!-- head -->
                <div class="modal-header">
                  <div>
                    <h2 class="modal-title" id="exampleModalLabel">Sign Up</h2>
                    <span class="text-muted fs-7">It's quick and easy.</span>
                  </div>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" aria-hidden="true"></button>
                 
                </div>
                <!-- body -->
                <div class="modal-body" >
                  <form>
                    <!-- names -->
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="First name" required/>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Surname"/>
                      </div>
                    </div>
                    <!-- email & pass -->
                    <input type="email" class="form-control my-3" placeholder="Mobile number or email address" />
                    <input type="password" class="form-control my-3" placeholder="New password" />
                    <!-- DOB -->
                    <div class="row my-3">
                      <span class="text-muted fs-7">Date of birth <i class="fas fa-question-circle" data-bs-toggle="popover" type="button" data-bs-content="And here's some amazing content. It's very engaging. Right?"></i></span>
                      <div class="col">
                        <select class="form-select">  
                          <option  *ngFor="let i of date">{{i}}</option>
                        </select>
                      </div>
                      <div class="col">
                        <select class="form-select">
                          <option *ngFor="let month of months">{{month}}</option>
                        </select>
                      </div>
                      <div class="col">
                        <select class="form-select">
                          <option *ngFor="let year of years">{{year}}</option>
                        </select>
                      </div>
                    </div>
                    <!-- gender -->
                    <div class="row">
                      <span class="text-muted fs-7">Gender</span>
                      <div class="col mb-3">
                          
                        <div class="border rounded p-2">
                          <label class="form-check-label" for="flexRadioDefault1">Male </label>
                         <input class="gender-radio" type="radio" name="flexRadioDefault" value="male" id="flexRadioDefault1" (change)="radioChangeHandler($event)"/>
                        
                       
                        </div>
                      </div>
                      <div class="col mb-3">
                        
                        <div class="border rounded p-2">
                          <label class="form-check-label" for="flexRadioDefault1">Female</label>
                          <input class="gender-radio" type="radio" name="flexRadioDefault" value="female" id="flexRadioDefault2" (change)="radioChangeHandler($event)"/>
                        </div>
                    
                      </div>
                      <div class="col mb-3">
                          
                        <div class="border rounded p-2">
                          <label class="form-check-label" for="flexRadioDefault1">Custom</label>
                          <input class="gender-radio" type="radio" name="flexRadioDefault" value="custom" id="flexRadioDefault3" (change)="radioChangeHandler($event)"/>
                        </div>
                    
                    </div>
                    </div>
                   
                    <!-- gender select -->
                    <div class="genderSelect" *ngIf="selectedGender == 'custom'">
                    <div id="genderSelect">
                      <select class="form-select">
                        <option>Select your pronoun</option>
                        <option value="1">She : "Wish her a happy birthday!"</option>
                        <option value="2">He : "Wish him a happy birthday!"</option>
                        <option value="3">They : "Wish them a happy birthday!"</option>
                      </select>
                      <div class="my-3">
                        <span class="text-muted ">Your pronoun is visible to everyone.</span>
                        <input type="text" class="form-control" placeholder="Gender (optional)" />
                      </div>
                    </div>
                  </div>
                    <!-- disclaimer -->
                    <div>
                      <span class="text-muted fs-11">By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may receive SMS notifications from us and can opt out at any time</span>
                    </div>
                    <!-- btn -->
                    <div class="text-center mt-3">
                      <button type="button" class="btn btn-success btn-lg" data-bs-dismiss="modal">Sign Up</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- modal end -->
        </div>
        <!-- tag -->
        <div class="my-4 pb-5 text-center">
          <p class="fw-bold"><a href="#" class="text-decoration-none text-dark">Create a Page </a> <span class="fw-normal">for a celebrity, band or business.</span></p>
        </div>
      </div>
    </div>
    <footer class="bg-white text-muted">
      <div class="container-footer">
        <!-- language -->
        <div class="d-flex flex-wrap">
          <p class="footer-text">English (UK)</p>
          <p class="footer-text">தமிழ்</p>
          <p class="footer-text">తెలుగు</p>
          <p class="footer-text">ಕನ್ನಡ</p>
          <p class="footer-text">हिन्दी</p>
          <p  class="footer-text">മലയാളം</p>
          <p class="footer-text">Tiếng Việt</p>
          <p class="footer-text">中文(台灣)</p>
          <p class="footer-text">한국어</p>
          <p class="footer-text">日本語</p>
          <span style="margin-left:5px;"><i class="fa fa-plus"></i></span>
        </div>
        <hr />
        <!-- actions -->
        <div class="d-flex flex-wrap">
          <p class="footer-text2">Sign Up</p>
          <p class="footer-text2">Login</p>
          <p class="footer-text2">Messenger</p>
          <p class="footer-text2">Facebook Lite</p>
          <p class="footer-text2">Watch</p>
          <p class="footer-text2">Places</p>
          <p class="footer-text2">Games</p>
          <p class="footer-text2">Marketplace</p>
          <p class="footer-text2">Facebook Pay</p>
          <p class="footer-text2">Oculus</p>
          <p class="footer-text2">Portal</p>
          <p class="footer-text2">Instagram</p>
          <p class="footer-text2">Bulletin</p>
          <p class="footer-text2">Local</p>
          <p class="footer-text2">Fundraisers</p>
          <p class="footer-text2">Services</p>
          <p class="footer-text2">Voting Information Centre</p>
          <p class="footer-text2">Groups</p>
          <p class="footer-text2">About</p>
          <p class="footer-text2">Create ad</p>
          <p class="footer-text2">Create Page</p>
          <p class="footer-text2">Developers</p>
          <p class="footer-text2">Careers</p>
          <p class="footer-text2">Privacy</p>
          <p class="footer-text2">Cookies</p>
          <p class="footer-text2">AdChoices</p>
          <p class="footer-text2">Terms</p>
          <p class="footer-text2">Help</p>
        </div>
        <!-- copy -->
        <div class="mt-4">
          <p class="footer-text">Meta &copy; 2022</p>
        </div>
      </div>
    </footer>
    
    </body>