.body{

    background-color: #f0f2f5 ;
}
.rounded{
    border-radius: 10px!important;
}
.btn-success{
    background-color: #42b72a !important;
}
.bg-gray {
    background-color: #f0f2f5;
  }
  .fs-0 {
    font-size: 3.8rem;
  }
  .fs-4{
      font-size: 3.5rem;
      margin-top: 20px;
  }
  .fs-7 {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .ml-5{
      margin-left: 80px;
  }
//   input{
//       padding: 14px 16px;
//   }
  .container{
    padding-top: 130px;
  }
 .btn{
     height: 55px;
 }
 .fs-11{
     font-size: 15px;
 }
 .gender-radio{
     margin-left: 50px;
 }
.container-footer{
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
}
.footer-text{
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 0px;
    font-size: 15px;
}
.footer-text2{
    margin-left: 3px;
    margin-right: 15px;
    margin-bottom: 0px;
    font-size: 15px;
}
.genderSelecter{
    margin-top: 10px;
    padding-top: 10px;
}
.btn-lg{
    height: 47px!important;
}
.h-10{
    height: 50px;
}
