<div
  class="main-carousel"
  [flickity]="{ contain: true, wrapAround: true, pageDots: false }"
>
  <div class="carousel-cell">
    <iframe
      height="100%"
      width="100%"
      src="https://www.youtube.com/embed/QsHWebfAwpY"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="carousel-cell">
    <iframe
      height="100%"
      width="100%"
      src="https://www.youtube.com/embed/Wrdh5HrOCMc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div class="carousel-cell">
    <iframe
      height="100%"
      width="100%"
      src="https://www.youtube.com/embed/hnM8qGvDH60"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
