* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #eee;
  width: 100%;
}

.main-carousel{
  height: 100%;
}

.carousel-cell {
  width: 66%;
  height: 100%;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
}