.create-post {
  width: 50%;
}

.main {
  display: flex;
  justify-content: center;
}
.home {
  display: flex;
  margin-top: 3.5rem;
}
.feed {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .feed {
    margin-left: 22%;
  }
}
