
  .head{
    width:100%;
    padding:5px 8px;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
  }
  .heading{
    color:#050505;
    font-size: 1.5rem;
    
    font-weight:500;

  }
  .icon{
    width:36px;
    height:36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e4e6eb;
  }


  
.search {
    margin-top: 3px;
  
    pointer-events: auto;
    height: 38px;
    border-radius: 30px;
    padding: 0px;
    width: 98%;
    margin-left: 2%;
    background-color: #f0f2f5;
    margin-bottom: 2%;
  }
  .search-btn {
    color: #828890;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
  }
  .search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    border-radius: 30px;
    height: 38px;
    font-size: 15px;
    transition: ease-in;
    line-height: 40px;
    width: 80%;
  }
  
  //select
  .select {
    .search {
      width: 80%;
      transform: translate(-10%, 0%);
    }
    .search-txt {
      width: 100%;
      padding: 0px 10px;
    }
    .search-content {
      background-color: white;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      i.arrow {
        display: block;
      }
    }
    .text {
      display: block;
    }
    #id {
      display: none;
    }
    .search > .search-btn {
      display: none;
    }
  }
.column
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3%;
   
} 
.marke{
    margin-bottom: 2%;
    border-bottom: 1px solid gainsboro;
} 
.createlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:2%;
    width: 100%;
    background-color: #E7F3FF;
    color:#1B79F2;
    border-radius: 8px;
    font-weight: 500;
    font-size: medium;
    margin-bottom: 2%;
}
.createlist i{
      margin-right:1% ;
      color:#1B79F2;
}
.createlist :hover{
    color: lightskyblue;
}
.texts{
    font-size: 1.0625rem;
    font-weight: 500;
    margin-left: 1%;
    margin-bottom:2% ;
    margin-top: 2%;
}
.text{
    font-size: 1.0625rem;
    font-weight: 500;
    margin-left: 1%;
    margin-bottom:2% ;
   
}

.loc{
    font-size: .9375rem;
    font-weight: 500;
   color:#1B79F2 ;
    margin-left:1% ;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 4%;
   
}
.Filters{
    width: 100%;
    border-bottom: 1px solid gainsboro;
    margin-bottom:3%;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
  }

@media only screen and (min-width: 1024px) {
.sidebar{
    width:360px;
    height:100%;
    background-color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    padding:5px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 1s ease-in-out;
    padding-bottom: 0;
    position: fixed;
}


  
 
}
